
<div id="my-modal" class="modal fade" tabindex="-1" data-th-fragment="apercu">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="smaller lighter blue no-margin">Apercu de l'operateur</h3>
	  </div>
      <div class="modal-body">
      												 
	  </div>
      <div class="modal-footer">
		<button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
			<i class="ace-icon fa fa-times"></i>
				Fermer
		</button>
	  </div>
	</div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div>

