<ul class="nav nav-list" data-th-fragment="menu">
					<li class="">
						<a th:href="@{/index}">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Tableau de bord </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								 Operateurs
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/operateur/form}">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouvel Operateur
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a th:href="@{/operateur/List}">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste des Operateurs
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> Fonction </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/Fonction/form}">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouvelle fonction
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a th:href="@{/Fonction/List}">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste des fonctions
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> Type fonction </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/typeFonction/form}">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouveau type fonction
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a th:href="@{/typeFonction/List}">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste type fonction
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> Assignation </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/Test/form}">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouvelle assignation
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a th:href="@{/Assignation/List}">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste des assignations
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-picture-o"></i>
							<span class="menu-text"> Journal </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouveau journal
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste des journaux
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-tag"></i>
							<span class="menu-text"> Actions </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouvelle action
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste des actions
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>
                    
                   <li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> Traitement </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouveau traitement
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-eye pink"></i>
									Liste des traitements
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					
					<li class="">
						<a href="#" class="dropdown-toggle">
						
							<i class="menu-icon fa fa-list-alt"></i>
							<span class="menu-text"> Module </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a th:href="@{/module/form}">
									<i class="menu-icon fa fa-plus purple"></i>
									Nouveau module
								</a>
								<b class="arrow"></b>
							</li>
							<li class="">
								<a th:href="@{/module/List}">
									<i class="menu-icon fa fa-eye pink"></i>
									
									Liste des modules
								</a>
								<b class="arrow"></b>
							</li>
						</ul>
					</li>	
				</ul><!-- /.nav-list -->