<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="/template">
<head>
<meta charset="utf-8" />
<title>Admin | Module</title>
</head>
<body>
<div class="main-content-inner" layout:fragment="content">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a th:href="@{/index}">Accueil</a>
							</li>

							<li>
								<a href="#">Module</a>
							</li>
							<li class="active">Editer un Module</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">
						<div data-th-replace="Fragments/Fr-setting::setting"><!-- setting containt --></div>

						<div class="page-header">
							<h1>Modifier le Module</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="row">
									<div class="col-xs-12">
										<!-- div.table-responsive -->
										<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                   <div class="panel-body">
                                   <div class="table-header">
											Modifier le Module
										</div>
                                     <form th:action="@{UpdateModule}" method="post" th:object="${module}">
                                     <div class="form-group">
                                     <input type="hidden" th:field="*{id}" class="form-control"/>
                                     <span></span>
                                     </div>
                                     <div class="form-group">
                                     <label class="control-label">Code:</label>
                                     <input type="text" th:field="*{SymCode}" class="form-control"/>
                                     <span></span>
                                     </div>
                                     <div class="form-group">
                                     <label class="control-label">Description:</label>
                                     <input type="text" th:field="*{SymDescription}" class="form-control"/>
                                     <span></span>
                                     </div>
                                     <div class="form-group">
                                     <label class="control-label">Etat:</label>
                                     <input type="text" th:field="*{SymEtat}" class="form-control"/>
                                     <span></span>
                                     </div>
                                      <div class="form-group">
                                     <label class="control-label">Libele:</label>
                                     <input type="text" th:field="*{SymLibelle}" class="form-control"/>
                                     <span></span>
                                     </div>
                                      <div class="form-group">
                                     <label class="control-label">Sequence:</label>
                                     <input type="text" th:field="*{SymSequence}" class="form-control"/>
                                     <span></span>
                                     </div>
                                     
                                     <div>
                                     <button type="submit" class="btn btn-primary">Modifier</button>
                                     </div>
                                     </form>
                                   </div>
                              
                                 </div>

										<!-- div.dataTables_borderWrap -->
										<div>
											
										</div>
									</div>
								</div>
								
								<!-- FIN CONTENU PAGE -->
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
</body>
</html>